<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Include Vivus from CDN -->
<script src="https://cdn.jsdelivr.net/npm/vivus@0.4.5/dist/vivus.min.js"></script>

    <meta charset="UTF-8">
    <title>FlemFare</title>
   <style>
        .color-mix {
            font-size: 24px;
            font-weight: bold;
            background: linear-gradient(to right, #ff1493 50%, #FFD800 50%);
            -webkit-background-clip: text;
            color: transparent;
            display: inline-block;
        }
    </style>
</head>
<body>
<!--   <canvas id="pinkboard"></canvas>-->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 width="1280px" height="800px" viewBox="0 0 1280 800" enable-background="new 0 0 1280 800" xml:space="preserve" id="message">

<!--<path fill="#FF0000" d="M400,300-->
<!--  C400,150,200,150,200,300-->
<!--  C200,450,400,600,400,600-->
<!--  C400,600,600,450,600,300-->
<!--  C600,150,400,150,400,300" id="heart"/>-->





</path>

</svg>

<div class="container" style="margin-left:300px;margin-top:0px;">
  <div class="welcome">
    <div class="pinkbox">
      <div class="signup nodisplay">
        <h1 class="dol">register</h1>
        <form autocomplete="new-password">

          <input type="email" placeholder="Email" style="color:black;">

          <input type="password" placeholder="Password" style="color:black;"  autocomplete="new-password" readonly onfocus="this.removeAttribute('readonly');">

          <button class="button submit">create account </button>
        </form>
      </div>
      <div class="signin">
        <h1 class="dol">sign in</h1>
        <form class="more-padding" autocomplete="new-password">
          <input type="text" placeholder="Email" style="color:black;">
          <input type="password" placeholder="Password" style="color:black;"  autocomplete="new-password" readonly onfocus="this.removeAttribute('readonly');">


          <button class="button submit">login</button>
        </form>
      </div>
    </div>
    <div class="leftbox">
      <h2 class="title" style="color:#FFD800;"><span style="color:#ff1493;">FEM</span>FLARE</h2>
      <p class="desc" style="color:purple;font-size:12.6px;">Embrace the Blooms of  <span style="color:#ff1493;">Femininity</span></p>
      <img class="flower" src="{%static 'flem3.png' %}" alt="1357d638624297b" border="0">
      <br>
      <p class="account" style="color:purple;font-size:13px;">have an account?</p>
      <button class="button" style="color:#ff1493;" id="signin">login</button>
    </div>
    <div class="rightbox">
      <h2 class="title" style="color:#FFD800;"><span style="color:#ff1493;">FEM</span>FLARE</h2>
      <p class="desc" style="color:purple;font-size:12.6px;">Embrace the Blooms of  <span style="color:#ff1493;">Femininity</span></p>
      <img class="flower" src="{%static 'flem3.png' %}"/>
      <br>
      <p class="account" style="color:purple;font-size:13px;">don't have an account?</p>
      <button class="button" style="color:#ff1493;" id="signup">sign up</button>
    </div>
  </div>
 </div>

</div>
<script>
    function animateHeart() {
  TweenMax.from($("#heart"), 1, {
    scaleX: 1.2,
    scaleY: 1.2,
    transformOrigin: "50% 50%",
    ease: Elastic.easeOut.config(1, 0.3)
  });
  TweenMax.to($("#heart"), 1, {
    scaleX: 1,
    scaleY: 1,
    ease: Elastic.easeOut.config(1, 0.3),
    onComplete: function() {
      setTimeout(animateHeart, 200);
    }
  });
}

new Vivus('message', {type: "oneByOne", duration: 100}, function() {
  TweenMax.to($("path"), 5, {fillOpacity: 1, onComplete: function() {
    animateHeart();
  }});
});

$(function() {
  TweenMax.to("body", 20, {backgroundPositionY: -100, repeat: -1, ease: Power0.easeNone});
})
</script>

<script>
    $('#signup').click(function() {
  $('.pinkbox').css('transform', 'translateX(80%)');
  $('.signin').addClass('nodisplay');
  $('.signup').removeClass('nodisplay');
});

$('#signin').click(function() {
  $('.pinkbox').css('transform', 'translateX(0%)');
  $('.signup').addClass('nodisplay');
  $('.signin').removeClass('nodisplay');
});
</script>
</body>
</html>
